@import "tailwindcss";

@utility appearance-textfield {
  appearance: textfield;
}

@layer components {
  .appearance-textfield::-webkit-outer-spin-button,
  .appearance-textfield::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .parchment-range {
    @apply appearance-none;
  }

  .parchment-range::-webkit-slider-runnable-track {
    @apply bg-parchment-paper-stained h-[40%] rounded-l-full rounded-r-full border-none;
  }

  .parchment-range::-moz-range-track {
    @apply bg-parchment-paper-stained h-[40%] rounded-l-full rounded-r-full border-none;
  }

  .parchment-range::-webkit-slider-thumb {
    @apply bg-parchment-paper inset-ring-parchment-ink-light inset-1 cursor-pointer appearance-none rounded-full border-none inset-ring-2;
    margin-top: -4px;
    width: 1rem;
    height: 1rem;
  }

  .parchment-range::-moz-range-thumb {
    @apply bg-parchment-paper inset-ring-parchment-ink-light inset-1 cursor-pointer appearance-none rounded-full border-none inset-ring-2;
  }
}

@theme {
  --color-parchment-ink-dark: #653916;
  --color-parchment-ink-light: #6c471d;
  --color-parchment-paper-stained: #ddad6d;
  --color-parchment-paper: #e7c07c;
}
